.env
views/three.js
views/bootstrap.min.js
views/column.obj
views/jquery-3.4.1.min.js
views/ula.png
views/oldhtml.html
node_modules
wait-for.sh
test
views/data
views/images
views/css/bootstrap.min.css
views/css/bootstrap.min.css.map
views/css/font-awesome.min.css
views/fonts
oldData*
views/Segment*