<!DOCTYPE html>
<html lang="en">

<head>
  <link href="bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-css">
  <link href="primaryCSS.css" rel="stylesheet" type="text/css">
  <script src="jquery-3.4.1.min.js"></script>
  <script src="bootstrap.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node App</title>
  <style>
		body { margin: 0; }
		canvas { width: 100%; height: 100% }
	</style>
</head>

<body>

<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="container-fluid">

      <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- ADD MAIN ADDRESS REF AND HAVE LOCAL LINK PHOTO -->
            <a class="navbar-brand" href="">
                <img src="ula.png" alt="LOGO">
            </a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li> <a href="/">Inspection Viewer</a> </li>
          </ul>
          <ul class="nav navbar-right top-nav">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>

          </ul>
        </div>
  </nav>

  <div class="jumbotron">
    <div class="list-group">
      <% for(var i=0; i < models.length; i++) {
      var date = models[i].toISOString().substr(0,10);
      %>

        <button onclick="location.href = '/inspection?id=<%= models[i]%>&sid=1';" type="button" id="myButton" class="list-group-item list-group-item-action"> <%= date %> </button>
      <% }; %>
    </div>
  </div>



    <hr>

    <footer>
        <p>Faber 2020</p>
    </footer>

</div>
