@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 150px;
    }

    #page-wrapper {
        padding: 60px 0px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

top-nav>li {
    display: inline-block;
    text-justify: left;
    color: white;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 0;
        width: 150px;
        border: inherit;
        border-radius: 0;
        border-top: 0px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        height: 100%;
        overflow-x: hidden;
        padding-bottom: 20px;
    }

    .side-nav>li>a {
        width: 150px;
        border-bottom: 0px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }

    .rightside-nav {
        position: fixed;
        top: 60px;
        right: 0;
        width: 150px;
        border: inherit;
        border-radius: 0;
        border-top: 0px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        height: 100%;
        overflow-x: hidden;
        padding-bottom: 20px;
    }

    .col-sm-1{
        width: 150px;

      }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 0px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand>img {
    width: 100px;
    padding: 0px 10px;
}

.flag{
  position: absolute;
  margin: 200px;
  margin-bottom: 100px;
}

.original{
  position: absolute;
  margin: 200px;
  margin-bottom: 100px;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  color: #333;
}

.modal-header {
    background-color: #333;
}


.modal-title {
    color: white;
}

.modal-header
.close {
    color: white;
}

h3 {
  top: 50px;
  left: 165px;
  position: fixed;
  color: white;
}

h5 {
  margin: 10px;
  color: white;
}

.flagCable {
  color: orange;
}

.progress {
  margin-top: 15px;
  width: 50%;
  margin-left: 25%;
}
